<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="layout/default">
	<head>
		<title>Admninistration</title>
	</head>
	<body>
		<div layout:fragment="content" th:remove="tag">
			<p>Welcome Administrator <span sec:authentication="name">Mr. Administrator</span></p>
			<p>This will be the administrator section, only accessible to administrators.</p>
		</div>
	</body>
</html>
		