<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="layout/default">
	<head>
		<title th:title="#{user.management}">User Management</title>
	</head>
	<body>
		<div layout:fragment="content" th:remove="tag">
			<table>
				<thead>
					<tr>
						<th th:text="#{user.name}"></th>
						<th th:text="#{role}"></th>
						<th th:text="#{enabled}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td><a th:href="@{user/__${user.username}__}" th:text="${user.username}">Alpha</a></td>
						<td th:text="#{${'role.' + #strings.toLowerCase(user.role)}}">Administrator</td>
						<td th:text="${user.enabled}? #{enabled} : #{disabled}">Enabled</td>
					</tr>
				</tbody>
			</table>
			<h2 th:text="Roles"></h2>
			<dl>
				<dt th:text="#{role.user}"></dt>
				<dd th:text="#{role.user.description}"></dd>
				<dt th:text="#{role.admin}"></dt>
				<dd th:text="#{role.admin.description}"></dd>
			</dl>
		</div>
	</body>
</html>
		