<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link th:href="@{/stylesheets/css/main.css}" media="all" rel="stylesheet" />
		<title layout:title-pattern="$CONTENT_TITLE">Layout Template</title>
	</head>
	<body>
		<header role="banner">
			<a th:href="@{/}" href="/" layout:fragment="logo">Stersectas</a>
			<nav>
				<ul>
					<li>
						<a th:href="@{/game/recruiting}" href="/game/recruiting">Games</a>
					</li>
					<li>
						<a href="/">Navigation</a>
					</li>
					<li>
						<a href="/">For</a>
					</li>
					<li>
						<a href="/">Testing</a>
					</li>
					<li>
						<a href="/">Purposes</a>
					</li>
				</ul>
			</nav>
		</header>
		<main layout:fragment="main">
			<h1 th:text="${layout.resultingTitle}">Page title</h1>
			<div layout:fragment="content">Content</div>
		</main>
		<footer role="contentinfo">
			<p th:text="#{footer}"></p>
			<section>
				<h2 th:text="#{languages}"></h2>
				<ul>
					<li><a href="?language=en" title="#{language.english}" th:text="#{language.english}">English</a></li>
					<li><a href="?language=nl" title="#{language.dutch}" th:text="#{language.dutch}">Nederlands</a></li>
				</ul>
			</section>
		</footer>
	</body>
</html>