<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
	<head>
		<title th:text="#{user.password.edit}">Edit Password</title>
	</head>
	<body>
		<div layout:fragment="content" th:remove="tag">
			<form th:action="@{/profile/password}" method="post" th:object="${updateUserPassword}">
				<p>
					<label>
						<span th:text="#{user.password.current}">Current Password</span>
						<input type="password" th:field="*{currentPassword}" />
					</label>
					<div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">invalid password</div>
				</p>
				<p>
					<label>
						<span th:text="#{user.password}">Password</span>
						<input type="password" th:field="*{password}" />
					</label>
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">pass error</div>
				</p>
				<p>
					<label>
						<span th:text="#{user.password.confirm}">Confirm Password</span>
						<input type="password" th:field="*{passwordConfirmation}" />
					</label>
					<div th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">password's do not match</div>
				</p>
				<button type="submit" th:text="#{user.profile.confirm}">Confirm</button>
			</form>
		</div>
	</body>
</html>
