header
	padding: 0 $default-whitespace
	
	h1
		margin: 0
		font-weight: normal
		font-size: $font-size-base * 2
		line-height: $line-height-base / 2 * 2
	
	a
		text-decoration: none
		
	> a
		font-size: $font-size-base * 2