<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="layout/default">
	<head>
		<title>Private</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<section layout:fragment="content">
			<p>Welcome!</p>
			<p th:inline="text">[[${#httpServletRequest.remoteUser}]]</p>
			<p>This ain't very private yet!</p>
		</section>
	</body>
</html>
		