<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="layout/default">
	<head>
		<title>Private</title>
	</head>
	<body>
		<div layout:fragment="content" th:remove="tag">
			<p>So you are <span sec:authentication="name">A User</span></p>
			<p>This ain't very private yet!</p>
		</div>
	</body>
</html>
		