<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="layout/default">
	<head>
		<title>Stersectas</title>
	</head>
	<body>
		<main layout:fragment="content">
			<p th:text="#{welcome}"></p>
			<p th:text="#{intro}"></p>
			<p>
				<a th:href="@{/registration}" th:text="#{user.register}"></a>
			</p>
			<p>
				<a th:href="@{/private/}">Let's move on to a private section.</a>
			</p>
		</main>
	</body>
</html>