<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorator="layout/default">
	<head>
		<title>Stersectas Intro</title>
	</head>
	<body>
		<header role="banner">
			<h1 layout:fragment="logo"><a th:href="@{/}" href="/">Stersectas</a></h1>
		</header>
		<main layout:fragment="main">
			<h2 th:text="#{welcome}">Welcome!</h2>
			<p th:text="#{intro}">Start page intro</p>
			<p>
				<a th:href="@{/registration}" th:text="#{user.register}">Register</a>
			</p>
			<p>
				<a th:href="@{/private}">Let's move on to a private section.</a>
			</p>
			<p sec:authorize-url="/admin">
				This is only visible to administrators.
				<a th:href="@{/admin}">Let's move on to the administration section.</a>
			</p>
		</main>
	</body>
</html>