<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
	<head>
		<title th:text="#{login}"></title>
	</head>
	<body>
		<main layout:fragment="content">
			<p th:if="${param.error}">Invalid username and password.</p>
			<p th:if="${param.logout}">You have been logged out.</p>
			<form th:action="@{/login}" method="post">
				<div>
					<label><span th:text="#{user.name}" th:remove="tag">User Name</span>: <input type="text" name="username" />
					</label>
				</div>
				<div>
					<label><span th:text="#{user.password}" th:remove="tag">Password</span>: <input type="password" name="password" />
					</label>
				</div>
				<div>
					<input type="submit" value="Login" th:value="#{login}" />
				</div>
			</form>
		</main>
	</body>
</html>