<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
	<head>
		<title th:text="#{login}"></title>
	</head>
	<body>
		<div layout:fragment="content" th:remove="tag">
			<p th:if="${param.error}">Invalid username and password.</p>
			<p th:if="${param.logout}">You have been logged out.</p>
			<form th:action="@{/login}" method="post">
				<p>
					<label>
						<span th:text="#{user.name}">User Name</span>
						<input type="text" name="username" />
					</label>
				</p>
				<p>
					<label>
						<span th:text="#{user.password}">Password</span>
						<input type="password" name="password" />
					</label>
				</p>
				<button type="submit" th:text="#{login}">Login</button>
			</form>
		</div>
	</body>
</html>