<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
	<head>
		<title th:text="#{user.register}">Register</title>
	</head>
	<body>
		<main layout:fragment="content">
			<form th:action="@{/registration}" method="post" th:object="${userDto}">
				<div>
					<label><span th:text="#{user.name}" th:remove="tag">User Name</span>: <input type="text" th:field="*{username}" />
					</label>
					<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
				</div>
				<div>
					<label><span th:text="#{user.password}" th:remove="tag">Password</span>: <input type="password" th:field="*{password}" />
					</label>
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Pass error</div>
				</div>
				<div>
					<label><span th:text="#{user.password.confirm}" th:remove="tag">Confirm Password</span>: <input type="password" th:field="*{passwordConfirmation}" />
					</label>
				</div>
				<div>
					<input type="submit" value="Register" th:value="#{user.register}" />
				</div>
			</form>
		</main>
	</body>
</html>