<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
	<head>
		<title th:text="#{user.register}">Register</title>
	</head>
	<body>
		<div layout:fragment="content" th:remove="tag">
			<form th:action="@{/registration}" method="post" th:object="${userDto}">
				<p>
					<label>
						<span th:text="#{user.name}">User Name</span>
						<input type="text" th:field="*{username}" />
					</label>
					<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
				</p>
				<p>
					<label>
						<span th:text="#{user.password}">Password</span>
						<input type="password" th:field="*{password}" />
					</label>
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Pass error</div>
				</p>
				<p>
					<label>
						<span th:text="#{user.password.confirm}">Confirm Password</span>
						<input type="password" th:field="*{passwordConfirmation}" />
					</label>
				</p>
				<button type="submit" th:text="#{user.register}">Register</button>
			</form>
		</div>
	</body>
</html>