<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h2 th:text="#{email.register.verification}">Email verification</h2>
		<p th:text="#{email.register.verification.description(${username})}">
			TestUser, thank you for registering! Below you will find a link to verify your e-mail for your newly created account. Afterwards you can log into Stersectas!
		</p>
		<p>
			<span th:text="#{email.register.verification.link}" th:remove="tag">Verify your email</span>:
			<a th:href="|${baseUrl}/registration-confirmation?token=${token}|" th:title="#{email.register.verification.link}" th:text="|${baseUrl}/registration-confirmation?token=${token}|">http://localhost/confirmation</a>
		</p>
	</body>
</html>